<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ru">
{% load static %}
<head>
    <link rel="stylesheet" href="{% static "css/create_post.css" %}">
    <title>Django Public Blog - создать статью</title>
</head>
<body>
<div class="header">
    <img src="{% static "img/dpb-logo-1.png" %}" alt="logo" width="600" height="200">
</div>
<div class="content"><h1>Войти</h1>
    <form method="POST" action="{% url 'login-page' %}">{% csrf_token %}
        <input type="text"
               name="name"
               placeholder="Имя"
               value="{{ form.name }}">
        <br/>
        <input type="password"
               name="password"
               placeholder="Пароль"
               value="{{ form.password }}">
        <br/>
        <input type="submit" value="отправить"></form>
    <br/>
    <div class="error-messages">
        {{ form.errors }}
    </div>
</div>
</body>
</html>